<div class="card p-3 mb-4">
  <div class="row">
    <div class="col-md-4">
      <label class="form-label fw-bold">
        {{ commonStrings.filters.nameFilter.label }}
      </label>
      <input
        type="text"
        class="form-control"
        placeholder="{{ commonStrings.filters.nameFilter.placeholder }}"
        [(ngModel)]="filters.name"
        (keyup)="filter()"
      />
    </div>

    <div class="col-md-4">
      <label class="form-label fw-bold">
        {{ commonStrings.filters.dateFilter.label }}
      </label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="filters.date"
        (keyup)="filter()"
      />
    </div>

    <div class="col-md-4">
      <label class="form-label fw-bold">
        {{ commonStrings.filters.statusFilter.label }}
      </label>
      <select
        class="form-select"
        [(ngModel)]="filters.status"
        (change)="filter()"
      >
        <option value>
          {{ commonStrings.filters.statusFilter.allOption }}
        </option>
        @for(option of options; track option){
        <option [value]="option">
          {{ commonStrings.filters.statusFilter[option] }}
        </option>
        }
      </select>
    </div>
  </div>
</div>
