<div class="container p-3">
  <div class="d-flex my-4 justify-content-between align-items-center">
    <h1>{{ commonStrings.header.label }}</h1>
    <button class="btn btn-primary" (click)="openModal()">
      {{ commonStrings.header.buttonLabel }}
    </button>
  </div>

  <app-filters
    [tasks]="allTasks()"
    (filteredTasks)="setFilteredTasks($event)"
  ></app-filters>

  <app-task-list
    [tasks]="filteredTasks()"
    (tasksStatusUpdate)="updateTaskStatus($event)"
  ></app-task-list>
</div>

@if (isModalOpen) {
<app-add-task-modal
  [lastTaskId]="getLastTaskId()"
  (addNewTask)="addTask($event)"
></app-add-task-modal>
}
